<div class="col-sm-3">
	<div class="form-group form-group-sm">
		<div class="input-group input-group-sm">
			<span class="input-group-addon"><%= obj.typelabel %></span>
			<select class="form-control"  id="<%= obj.typeid %>"  ></select>
		</div>
	</div>
</div>			
<div class="col-sm-3">
	<div class="form-group form-group-sm">
		<div class="input-group input-group-sm">
			<span class="input-group-addon"><%= obj.label %></span>
			<select class="form-control" id="<%= obj.id %>" ></select>
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-group-sm">
		<button id="<%= obj.btnid%>"  class="btn btn-default btn-success btn-sm"
		type="button"><%= obj.btnlabel %></button>
	</div>
</div>
