<div class="row">
	<div class="col-sm-2">
		<div class="form-group form-group-sm">
			<form class="form-inline" style="margin-bottom: 10px">
				<div class="form-group" style="margin-right:10px">
					<label class="control-label">비품 코드</label>
				</div>
				<div class="form-group">
					<select id="officeCodeCombo" class="form-control yes-form-control">
						<%_.each(formCode, function(officecode){ 
						<option value="<%=officecode%>"><%=officecode%></option> <%}); %>
					</select>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group form-group-sm">
			<button id="btnSearch" class="btn btn-default btn-success btn-sm"
				type="button">조회</button>
		</div>
	</div>
</div>