<div class="container">
	<div class="page-header">
		<h1>
			근태관리 <small id="smallTitleTxt">근태자료관리</small>
		</h1>
	</div>

	<form class="form-inline">
		<div class="form-group">
			<label class="control-label">기간</label>
		</div>
		<div class="form-group">
			<input type="date" class="form-control" id="startDate" name="startDate"/>
		</div>
		~
		<div class="form-group">
			<input type="date" class="form-control" id="endDate" name="endDate"/>
		</div>
		<button id="btnSearch" class="btn btn-default" type="button">조회</button>
		<button id="btnUpdate" class="btn btn-default" type="button">업데이트</button>
	</form>

	<table class="table" id="commentDataTbl"></table>
</div>