<div class="container">
	<div class="page-header">
		<h1>
			근태관리 <small id="smallTitleTxt">근태자료관리</small>
		</h1>
	</div>

	<form class="form-inline">
		<div class="form-group">
			<label class="control-label">기간</label>
		</div>
		<div class="form-group">
			<input type="date" class="form-control" id="startDate"
				name="startDate" name="joinDate" />
		</div>
		~
		<div class="form-group">
			<input type="date" class="form-control" id="endDate" name="endDate"
				name="joinDate" />
		</div>
		<button id="btnSearch" class="btn btn-default" type="button">조회</button>
	</form>

	<table class="table" id="commuteManageTbl">
		<tfoot>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>

	<!--  변경 이력  -->
	<div id="changeHistoryPopupCon">
	</div>

	<!-- // 변경 이력  -->

</div>
