<div class="content" id="organization_content">
    <div class="team-style">
        <div class="printdiv" id="dept_0000">
            <div class="TopColor dept1">
                임원(<span></span>명)
            </div>
            <div class="deptColor team1"></div>
            <table>                
            </table>
        </div>
        <div class="printdiv" id="dept_1000">
            <div class="TopColor dept2">
                경영지원팀(<span></span>명)
            </div>
            <div class="deptColor team2"></div>
            <table>                
            </table>
        </div>
    </div>
    <div id="tDiv" style="margin:auto; width:2110px">
    <div class="team-style">
        <div class="printdiv" id="dept_5100">
            <div class="TopColor dept3">
                품질검증1팀(<span></span>명)
            </div>
            <div class="deptColor team3"></div>
            <table>                    
            </table>
        </div>
    </div>
    <div class="team-style">
        <div class="printdiv" id="dept_5200">
            <div class="TopColor dept4">
                품질검증2팀(<span></span>명)
            </div>
            <div class="deptColor team4"></div>
            <table>                    
            </table>
        </div>
        <div class="printdiv" id="dept_5400">
            <div class="TopColor dept5">
                품질검증2팀(본사)<span></span>
            </div>
            <div class="deptColor team5"></div>
            <table>                    
            </table>
        </div>
    </div>
    <div class="team-style">
        <div class="printdiv" id="dept_7010">
            <div class="TopColor dept6">
                NMS개발팀(<span></span>명)
            </div>
            <div class="deptColor team6"></div>
            <table>                    
            </table>
        </div>
    </div>
    <div class="team-style">
        <div class="printdiv" id="dept_8100">
            <div class="TopColor dept7">
                솔루션개발팀(<span></span>명)
            </div>
            <div class="deptColor team7"></div>
            <table>                    
            </table>
        </div>
    </div>
    <div class="team-style">
        <div class="printdiv" id="dept_9100">
            <div class="TopColor dept8">
                Platform개발팀(<span></span>명)
            </div>
            <div class="deptColor team8"></div>
            <table>                    
            </table>
        </div>
    </div>
    </div>
    <div id="org_footer" style="font-weight: bold;font-size:28px;">
        총 인원- <span id="total_member"></span>)
        <br>본사 전화번호: 070-7163-XXXX<br>수원 사업장 U-city 전화번호: 031-213-8740~2
    </div>
</div>