<html><head>
    <meta charset="utf-8"> 
    <title>No application seems to be running here!</title>
    <link rel="stylesheet" type="text/css" href="https://d6ff1xmuve0sx.cloudfront.net/nc-3.0.751-4d3c4e96/static/error_handler/style.css">
    <style type="text/css">
    .error_content {
        background: rgba(255, 255, 255, 0.23);
        padding: 10px;
        width: 641px;
        margin: 25px 0;
        display: none;
    }
    
    #project-access-msg {
        display: block;
    }
    body:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none !important;
    width: 195px;
    height: 150px;
    }
    
    </style>
  </head>
  <body class="errorUnknown light">
    <div id="wrapper">
      <h1>IVS 근태시스템 서버 정검중</h1>
    </div>
  

<div id="window-resizer-tooltip"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth"></span> x <span class="tooltipHeight" id="winHeight"></span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span></div>
</body></html>