<!DOCTYPE html>
<html>
<head>
    <title>Saram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-main="js/sarams" src="js/tool/require/require.js"></script>
</head>
<body>
    <div class="containter">
        <div class="side-container">
        </div>
        <div class="main-container">
            <div class="top-container"></div>
            <div class="mid-container"></div>
            <div class="bot-container"></div>
        </div>
        <div class="loding-container">
        </div>
    </div>
</body>
</html>
