

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Login Result</h1>
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><%= id %></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><%= pwd %></td>
        </tr>
    </table>
</body>
</html>