.login-body{
    height: 100%;
    width: 100%;
    background-image: url(img/green-pattern.png);
    background-attachment: fixed;
}

.login-form-section {
    width: 80%;
    max-width: 30em;
    margin: 0 auto;
    margin-top:5em;
    border-color: #1F8871;
}

.login-form-section .form-control{
    color:#2ABB9B;
    border-color:#2ABB9B;
    background-color:beige;
}
.login-form-section .form-control::-webkit-input-placeholder {
    color: #2ABB9B;
}
.login-form-section .form-control:-moz-placeholder {
    /* FF 4-18 */
    color: #2ABB9B;
}
.login-form-section .form-control::-moz-placeholder {
    /* FF 19+ */
    color: #2ABB9B;
}
.login-form-section .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #2ABB9B;
}


.login-input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition:background-color .5s, border-left .5s;
    border-left:5px transparent;
}
.login-input-focus {
    background-color: aliceblue;
    border-left:5px solid #1F8871;
}
.panel-header {
    background: #1F8871;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom:5px;
    border-radius: 3px 3px 0px 0px;
    border: 1px transparent;
}
.panel-header h1{
    margin:0;
    color:beige;
}
.login-button{
    margin-right: 15px;
    margin-bottom: 15px;
}
.panel-body{
    padding:0px;
    padding-top:15px;
}
