body {
  overflow:hidden;
}
.no-margin{
    margin:0 auto;
}
.head-btn-group{
    position: absolute;
    top: 50%;
    right: 0;
}
.head-btn-group span{
    padding-left:10px;
    cursor:pointer;
}
.head-btn-group span:first-child{
     padding:0px;
}
.head-btn-group span:hover{
    color:#ccc;
}
.relative-layout{
    position:relative;
}


/*dataTable*/
table.dataTable tbody tr.selected {
    background: rgb(26, 188, 156);
    color: white;
}
table.dataTable tbody tr{
    cursor:pointer;
}
table.dataTable tbody tr.selected td:first-child {
  /*  border-left: 4px solid rgb(22, 160, 133);*/
}
table.dataTable tbody tr.selected td{
    border-bottom: 1px solid rgb(22, 160, 133);
}
table.dataTable tbody td {
    vertical-align: middle;
}
td.highlight {
    background-color: rgba(22, 160, 133, 0.6) !important;
}
td.details-control {
    background: url('img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('img/details_close.png') no-repeat center center;
}