<div class="container">
    <div class="page-header">
        <h1>근태 관리 <small>출입 기록 등록</small></h1>
    </div>
    
    <form role="form">
        <div class="form-group">
            <label for="inputRawDataFile" >Input File(csv)</label>
            <input type="file" id="inputRawDataFile" accept=".csv">
        </div>
    </form>
    
    <div id="rawDataErr" style="display:none">
        <h5>Check Result! Error Count : <span>0</span></h5>
    </div>
    
    <table class="table" id="rawDataTable"></table>
    
    <button class="btn btn-primary" id="commitRawData" disabled="disabled">Commit</button>
</div>
