<div class="container">
    <div class="page-header">
        <h1>결재 관리 <small id="smallTitleTxt"></small></h1>
    </div>
    <div id="dataContent">
        <form role='form' method='post'>
            <div class='form-group'>
                <table id="addReportFormTable">
                    <tr class="addReportNone">
                        <th>신청자</th>
                        <td><input type="text" id="writeName" name="writeName" class="form-control"/></td>
                    </tr>
                    <tr>
                        <th>기간</th>
                        <td>
                            <div> 
                                <input type="text" id="beforeDate" name="beforeDate" class="openDatePicker form-control"/>
                                <span>~</span>
                                <input type="text" id="afterDate" name="afterDate" class="openDatePicker form-control"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>구분</th>
                        <!--<td><input type="text" name="gubun"/></td>-->
                        <td><select id="selGubun" name="gubun" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <th>메모</th>
                        <td><textarea id="memo" name="memo" rows="4" class="form-control"/></td>
                    </tr>
                    <tr class="addReportNone">
                        <th>결재자 메모</th>
                        <td><textarea id="approvalMemo" name="approvalMemo" rows="4" class="form-control"/></td>
                    </tr>
                    <tr class="approvalReportNone">
                        <th>결재자</th>
                        <td><select id="selAddApprovalName" name="addApprovalName" class="form-control"></select></td>
                    </tr>
                    <tr class="addReportNone">
                        <th>결재구분</th>
                        <td><select id="addApprovalGubun" name="addApprovalGubun" class="form-control"></select></td>
                    </tr>
                    
                </table>
            </div>
        </form>
        <div id="bottomBtnCon"></div>
    </div>
</div>