<div class="container">
    
    <form role="form">
        <div class="form-group">
            <label for="adduserId">사번</label>
            <input type="text" class="form-control" id="adduserId" name="id"/>
        </div>
        
        <div class="form-group">
            <label for="adduserName">이름</label>
            <input type="text" class="form-control" id="adduserName" name="name"/>
        </div>
        
        <div class="form-group">
            <label for="adduserDepartment">부서</label>
            <select class="form-control" name="dept_code" id="departmentSelector">
            </select>
        </div>
    
        <div class="form-group">
            <label for="adduserNameCommute">지문인식기 등록 이름</label>
            <input type="text" class="form-control" id="adduserNameCommute" name="name_commute"/>
        </div>
        
        <div class="form-group">
            <label for="adduserNameJoinDate">입사일</label>
            <input type="date" class="form-control" id="adduserNameJoinDate" name="join_company" />
        </div>
    
        <!--button class="btn btn-default" id="addUserCommit">Commit</button-->
    </form>
</div>