<div class="container">
    
    <form role="form">
        <div class="form-group">
            <label for="adduserId">사번</label>
            <input type="text" class="form-control" id="adduserId" name="id"/>
        </div>
        
        <div class="form-group">
            <label for="adduserName">이름</label>
            <input type="text" class="form-control" id="adduserName" name="name"/>
        </div>
        
        <div class="form-group">
            <label for="adduserDepartment">부서</label>
            <select class="form-control" name="department">
                <option></option>
                <option>임원</option>
                <option>경영지원팀</option>
                <option>품질검증1팀</option>
                <option>품질검증2팀</option>
                <option>품질검증3팀</option>
                <option>품질검증4팀</option>
                <option>NMS개발1팀</option>
                <option>NMS개발2팀</option>
                <option>개발품질팀</option>
                <option>솔루션개발팀</option>
                <option>기타</option>
            </select>
        </div>
    
        <div class="form-group">
            <label for="adduserNameCommute">지문인식기 등록 이름</label>
            <input type="text" class="form-control" id="adduserNameCommute" name="nameCommute"/>
        </div>
        
        <div class="form-group">
            <label for="adduserNameJoinDate">입사일</label>
            <input type="date" class="form-control" id="adduserNameJoinDate" name="joinDate" />
        </div>
    
        <!--button class="btn btn-default" id="addUserCommit">Commit</button-->
    </form>
</div>