<div class="calendar-week">
    <table>
        <tr>
            <td>일</td>
            <td>월</td>
            <td>화</td>
            <td>수</td>
            <td>목</td>
            <td>금</td>
            <td>토</td>
        </tr>
    </table>
</div>
<div class="calendar-body">
    <table id="calendar_body">

    </table>
</div>

<div id="cal_room_reg_popup_menu" class="dropdown-menu" style="display: none;position: absolute;top: 0;left: 0; min-width: 100px;">
  <span id="cal_room_reg_item" class="dropdown-item">예약하기</span>
</div>

<div id="submit_popup_menu" class="dropdown-menu" style="display: none;position: absolute;top: 0;left: 0; min-width: 60px;">
  <span id="submit_item" class="dropdown-item">상신</span>
  <span id="add_yescalendar" class="dropdown-item">일정 추가</span>
</div>