<div class="container">
    <div class="page-header">
        <h1>근태관리 <small id="smallTitleTxt">근태자료관리</small></h1>
    </div>
    <div id="dataContent">
        <!--<div id="filterContainer">-->
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group form-group-sm">
                        <div class="input-group input-group-sm date" id="beforeDate">
                            <span class="input-group-addon">
                                from
                            </span>
                            <input type="text" class="form-control" data-date-format="YYYY-MM-DD" name="beforeDate"/>
                            <span class="input-group-addon datepickerbutton">
                                  <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group form-group-sm">
                        <div class="input-group input-group-sm date" id="afterDate">
                            <span class="input-group-addon">
                                to
                            </span>
                            <input type="text" class="form-control" data-date-format="YYYY-MM-DD" name="afterDate"/>
                            <span class="input-group-addon datepickerbutton">
                                  <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3 right'>
                    <div class="form-group form-group-sm">
                        <button class="btn btn-default" id="btnCommuteClear">Clear</button>
                        <button class="btn btn-default" id="btnCommuteSearch">조회</button>
                    </div>
                </div>
            </div>
            
            <!--<span>기간 :</span>-->
            <!--<input type="text" id="beforeDate" name="beforeDate" class="openDatePicker"/>-->
            <!--<span>~</span>-->
            <!--<input type="text" id="afterDate" name="afterDate" class="openDatePicker"/>-->
            <!--<button class="btn btn-default" id="btnCommuteClear">Clear</button>-->
            <!--<button class="btn btn-default" id="btnCommuteSearch">조회</button>-->
        <!--</div>-->
    </div>
    <div class="content"></div>
    <br/>
    <div id="bottomBtnCon">
        <button class="btn btn-default" id="btnCommuteEdit">Edit</button>
    </div>
</div>           
