<div class="container">
    <div class="page-header">
        <h1>근태관리 <small id="smallTitleTxt">근태자료관리</small></h1>
    </div>
    <div id="dataContent">
        <div id="filterContainer">
            <span>기간 :</span>
            <input type="text" name="beforeDate" class="openDatePicker"/>
            <span>~</span>
            <input type="text" name="afterDate" class="openDatePicker"/>
            <button class="btn btn-default">필터</button>
            <button class="btn btn-default" id="btnCommuteSearch">조회</button>
        </div>
        <br/>
        <table class="table" id="commuteManageTbl">
        </table>
    </div>
    <br/>
    <div id="bottomBtnCon">
        <button class="btn btn-default" id="btnCommuteEdit">Edit</button>
    </div>
</div>           
