<div class="container">
    <div class="page-header">
        <h1>근태관리 <small id="smallTitleTxt">근태자료관리</small></h1>
    </div>
    <div id="dataContent">
        <div id="filterContainer">
            <span>기간 :</span>
            <input type="datetime" name="beforeDate"/>
            <span>~</span>
            <input type="datetime" name="afterDate"/>
            <button class="btn btn-default">Filter</button>
            <button class="btn btn-default" id="btnCommuteSearch">Search</button>
        </div>
        <br/>
        <table class="table" id="commuteManageTbl">
            <!--<thead>-->
            <!--    <tr>-->
            <!--        <th>일자</th>-->
            <!--        <th>부서</th>-->
            <!--        <th>ID</th>-->
            <!--        <th>이름</th>-->
            <!--        <th>근무타입</th>-->
            <!--        <th>초과근무수당</th>-->
            <!--        <th>지각시간</th>-->
            <!--        <th>초과근무시간</th>-->
            <!--        <th>출근시간</th>-->
            <!--        <th>퇴근시간</th>-->
            <!--        <th>Comment</th>-->
            <!--    </tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--</tbody>-->
        </table>
    </div>
    <br/>
    <div id="bottomBtnCon">
        <button class="btn btn-default">Edit</button>
    </div>
</div>           
