<!--<div class="cube-container"><div class="cube"><div class="half1"><div class="side s1"><div class="in1"></div></div><div class="side s2"><div class="in2"></div></div><div class="side s5"><div class="in5"></div></div></div><div class="half2"><div class="side s3"><div class="in3"></div></div><div class="side s4"><div class="in4"></div></div><div class="side s6"><div class="in6"></div></div></div></div></div>-->

<div class="loading">
  <div class="block"></div>
  <div class="block"></div>
  <div class="block"></div>
  <div class="block"></div>
</div>



<!--<div class="demo">-->
<!--  <div class="circle">-->
<!--    <div class="inner"></div>-->
<!--  </div>-->
<!--  <div class="circle">-->
<!--    <div class="inner"></div>-->
<!--  </div>-->
<!--  <div class="circle">-->
<!--    <div class="inner"></div>-->
<!--  </div>-->
<!--  <div class="circle">-->
<!--    <div class="inner"></div>-->
<!--  </div>-->
<!--  <div class="circle">-->
<!--    <div class="inner"></div>-->
<!--  </div>-->
<!--</div>-->