<div>
    <h5><%= top_date %></h5>
    <h3><%= total_working_date %></h5>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge"><%= a%></span>정상
        </li>
        <li class="list-group-item">
            <span class="badge"><%= b%></span>지각
        </li>
        <li class="list-group-item">
            <span class="badge"><%= c%></span>결근
        </li>
        <li class="list-group-item">
            <span class="badge"><%= d%></span>휴가
        </li>
        <li class="list-group-item">
            <span class="badge"><%= e%></span>야근 A
        </li >
        <li  class="list-group-item">
            <span class="badge"><%= f%></span>야근 B
        </li>
        <li  class="list-group-item">
           <span class="badge"><%= g%></span>야근 C
        </li>
    </ul>
</div>