
<div class="page-header">
    <h1>Init Password</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="initIdText">사번</label>
                <input type="text" class="form-control" id="initIdText" name="loginid">
            </div>
            <div class="form-group">
                <label for="initpasswordText1">비밀번호</label>
                <input type="password" class="form-control" id="initpasswordText1" placeholder="Your Password" name="password1">
            </div>
            <div class="form-group">
                <label for="initpasswordText2">비밀번호 확인</label>
                <input type="password" class="form-control" id="initpasswordText2" placeholder="Your Password" name="password2">
            </div>
            <button class="btn btn-default" id="passwordCommit">Commit</td>
        </form>
    </div>
</div>
