<div class="page-header">
    <h1>Login</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="loginIdTextbox">사번</label>
                <input type="text" class="form-control" id="loginIdTextbox" placeholder="Your ID" name="loginid">
            </div>
            <div class="form-group">
                <label for="loginPasswordTextbox">비밀번호</label>
                <input type="password" class="form-control" id="loginPasswordTextbox" placeholder="Your Password" name="password">
            </div>
            <button class="btn btn-default" id="loginbtn">Login</td>
        </form>
    </div>
</div>