<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sarams</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">일반 관리<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#usermanager">사원 관리</a></li>
            <li><a href="#holidaymanager">휴일 관리</a></li>
            <li><a href="#vacation">연차 관리</a></li>
            <!--li class="divider"></li-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">근태 관리<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#addrawdata">출입 기록 등록</a></li>
            <li><a href="#rawdatalist">출입 기록 조회</a></li>
            <li><a href="#createdata">근태 자료 생성</a></li>
            <li><a href="#commutemanager">근태 자료 관리</a></li>
            <li><a href="#commutemanager/comment">근태 수정 내역 관리</a></li>
            <li><a href="#reportmanager">근태 상신(list)</a></li>
            <!--li class="divider"></li-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vacation<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#vacation">Vacation</a></li>
            <!--li class="divider"></li-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">no<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#commutemanager">근태자료 관리</a></li>
            <li><a href="#commutemanager/comment">Comment 관리</a></li>
            <li><a href="#reportmanager">근태 상신(list)</a></li>
            <!--li class="divider"></li-->
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
        <li><a href="#">Config</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>