<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top_menu">
      <ul class="nav navbar-nav" id="top_menu_left">
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#" id="accessIn" onclick="return  false;">출근</a></li>
      	<li><a href="#" id="accessOut" onclick="return  false;" >퇴근</a></li>
      	<li><a href="#" id="apprAppend" onclick="return  false;" ></a></li>
<!--       	<li><a href="#" id="book" onclick="return  false;" ></a></li> -->
      	<li><a href="#" id="document" onclick="return  false;" ></a></li>
      	<li><a href="#" id="setting" onclick="return  false;" ></a></li>
        <li><a href="#" id="userConifg" onclick="return  false;"></a></li>
        <li><a href="#" id="logout" onclick="return  false;"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>