<div class="container">
	<div class="page-header">
		<h1>
			연차 관리 <small>vacation</small>
		</h1>
	</div>

	<form class="form-inline">
		<div class="form-group">
			<select id="selectYear" class="form-control">
				<%_.each(data.formYears, function(year){ if (year == data.nowYear)
				{%>
				<option value="<%=year%>" selected><%=year%></option> <%} else {%>
				<option value="<%=year%>"><%=year%></option> <%} }); %>
			</select>
		</div>
		<button id="btnCreateData" class="btn btn-default" type="button">자료
			생성</button>
		<button id="btnSearch" class="btn btn-default" type="button">조회</button>
		<button id="btnUpdate" class="btn btn-default" type="button">수정</button>
	</form>

	<table class="table" id="vacationDataTable"></table>

	<!--  수정 팝업 -->
	<div id="vacationInfoModal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div id="vacationInfoModalCon"></div>
	</div>
	<!-- // 수정 팝업 -->

</div>
