
<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap 101 Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Password Init</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="post" action="login">
                    <div class="form-group">
                        <label for="loginIdTextbox">사번</label>
                        <input type="text" class="form-control" id="loginIdTextbox" placeholder="Your ID" name="id">
                    </div>
                    <div class="form-group">
                        <label for="loginPasswordTextbox">비밀번호</label>
                        <input type="password" class="form-control" id="loginPasswordTextbox" placeholder="Your Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="loginPasswordTextbox">비밀번호 확인</label>
                        <input type="password" class="form-control" id="loginPasswordTextbox" placeholder="Your Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</td>
                </form>
            </div>
        </div>
    </div>           
</body>
<% include ../config.ejs %>
</html>
