<div class="form-group">
	<label><%= label %></label>
	<div class="row">
		<div class="col-sm-5">
		    <input type="text" class="form-control yes-form-control" value="<%= beforeTime %>" disabled="true">
		</div>
		<div class="col-sm-1">
			<span class="glyphicon glyphicon-arrow-right" style="vertical-align: middle" aria-hidden="true"></span>
		</div>
		<div class="col-sm-6">
		    <div class="input-group date" id="<%= id %>">
		        <input type="text" class="form-control yes-form-control"/>
		        <span class="input-group-addon">
		              <span class="glyphicon glyphicon-calendar"></span>
		        </span>
		    </div>
		</div>
	</div>
</div>