<%  if (typeof(obj) != "undefined") { %>
<div class="form-group form-group-harf">
    <label for="<%= obj.id %>">
        <%= obj.label %>
    </label>
    <div class="input-group date " id="<%= obj.id %>">
        <div class="search-wrapper">
        <input type="text" class="form-control yes-form-control yes-date-picker" data-date-format="<%= obj.format %>"  name="<%= obj.name %>" value="<%= obj.value %>"
               readonly/>

        <button class="close-icon" type="reset" ></button>
            </div>
        <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
        </span>

    </div>
</div>
<% } %>
