<div class="panel panel-default yes-panel">
    <div class="panel-heading form-group-heading">
        <h4 class="panel-title">
            <% if (obj.initOpen) { %>
                <a data-toggle="collapse" data-target="#<%= obj.id %>_collapse"></a>
            <% } else {%>
                <a data-toggle="collapse" data-target="#<%= obj.id %>_collapse" class="collapsed"></a>
            <% } %>
            
            <p><%= obj.label %></p>
        </h4>
    </div>
    
    <% if (obj.initOpen) { %>
        <div id="<%= obj.id %>_collapse" class="panel-collapse in">
            <div class="panel-body" id="<%= obj.id %>"></div>
        </div>
    <% } else {%>
        <div id="<%= obj.id %>_collapse" class="panel-collapse collapse">
            <div class="panel-body" id="<%= obj.id %>"></div>
        </div>
    <% } %>
</div>