<div class='col-sm-3'>
    <div class="form-group form-group-sm">
        <div class="input-group input-group-sm date" id="<%= obj.dateId %>">
            <span class="input-group-addon">
                Date
            </span>
            <input type="text" class="form-control" data-format="yyyy-MM-dd" name="<%= obj.dateId %>" readonly/>
            <span class="input-group-addon datepickerbutton">
                  <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>