<div class='col-sm-3'>
    <div class="form-group form-group-sm">
        <div class="input-group input-group-sm date" id="<%= obj.fromId %>">
            <span class="input-group-addon">
                from
            </span>
            <input type="text" class="form-control" data-format="yyyy-MM-dd" name="<%= obj.romId %>" readonly/>
            <span class="input-group-addon datepickerbutton">
                  <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class='col-sm-3'>
    <div class="form-group form-group-sm">
        <div class="input-group input-group-sm date" id="<%= obj.toId %>">
            <span class="input-group-addon">
                to
            </span>
            <input type="text" class="form-control" data-format="yyyy-MM-dd" name="<%= obj.toId %>" readonly/>
            <span class="input-group-addon datepickerbutton">
                  <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>