<div id="room_date_content" style="height: 40px; text-align: center;min-width:800px;">
	<button type="button" id="room_date_prev" class="btn btn-default btn-success"><span class="glyphicon glyphicon-chevron-left"></span></button>
	<span id="date_period" style="margin:10px"> XXXX-XX-XX ~ XXXX-XX-XX </span>
	<button type="button" id="room_date_next" class="btn btn-default btn-success"><span class="glyphicon glyphicon-chevron-right"></span></button>
	<button type="button" id="room_data_refresh" class="btn btn-default btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
	<button class="btn btn-default btn-success" id="roomRegBtn" style="float: right;">회의실 예약</button>
</div>

<div id="room_svg_content" style="width: 100%;min-width:800px;border: 1px solid;">
	<svg id="room_svg" style="width: 100%; height: calc(100% - 200px);">
		
	</svg>
</div>
