<div id="room_date_content" style="height: 40px; text-align: center;min-width:600px;">
	<button type="button" id="room_date_prev" class="btn btn-default btn-success"><span class="glyphicon glyphicon-chevron-left"></span></button>
	<span id="month_period" style="margin:10px"> XXXX-XX </span>
	<button type="button" id="room_date_next" class="btn btn-default btn-success"><span class="glyphicon glyphicon-chevron-right"></span></button>
	<button type="button" id="room_data_refresh" class="btn btn-default btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
  
  <a href="#roomreservelist"><button class="btn btn-default btn-success float-right left-margin-5">리스트</button></a>
  <a href="#roomreservemonth"><button class="btn btn-default btn-success float-right left-margin-5 selected-button">월</button></a>
  <a href="#roomreserveweek"><button class="btn btn-default btn-success float-right left-margin-5">주</button></a>
  <button class="btn btn-default btn-success" id="roomRegBtn" style="float: right; ">회의실 예약</button>
</div>

<div id="dashboard_main">
  <div id="calendar" style="margin-bottom: 20px; min-width: 600px;"> </div>
</div>