<div class="panel panel-default login-form-section animated" style="display:none; -webkit-animation-duration: .3s;-moz-animation-duration: .3s;animation-duration: .3s;">
    <div class="panel-header">
        <h2><%= title %></h2>
    </div>    
    <div class="panel-body">
        <form role="form" onsubmit="return false;" action="">
            <div class="form-group">
                <div class="input-group find-password-input">
                    <p><%= findTextInfo %></p>
                </div>
                <div class="input-group find-password-input">
                    <span class="input-group-addon">
                          <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control" id="findIdInput" placeholder="<%= idPlaceholder %>" name="id">
                </div>
                <div class="input-group find-password-input">
                    <span class="input-group-addon">
                          <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="text" class="form-control" id="findEmailInput" placeholder="<%= emailPlaceholder %>" name="email">
                </div>
            </div>
            
            <button class="btn btn-sm btn-success pull-right login-button" id="findCloseBtn" data-loading-text="<%= closeBtn %>"><%= closeBtn %></button>
            <button class="btn btn-sm btn-success pull-right login-button" id="findPasswordBtn" data-loading-text="<div class='spinIcon'><%= findPasswordStatusBtn %></div>"><%= findPasswordBtn %></button>
        </form>
    </div>
</div>