
<form id="commuteInfoForm" class="form-horizontal">
	<input type="hidden" id="id" name="id" value="<%=data.id%>"> <input
		type="hidden" id="year" name="year" value="<%=data.year%>"> <input
		type="hidden" id="date" name="date" value="<%=data.date%>">

	<div class="form-group">
		<label class="col-sm-5 control-label">일자</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.date%></label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">부서</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.department%></label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">이름</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.name%></br>(<%=data.id%>)</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">출근 시간</label>
		<div class="col-sm-7">
			<input type="text" class="input-small" id="in_time" name="in_time"
				value="<%=data.in_time%>">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">퇴근 시간</label>
		<div class="col-sm-7">
			<input type="text" class="input-small" id="out_time" name="out_time"
				value="<%=data.out_time%>">
		</div>
	</div>
</form>