
<form id="commentInfoForm" class="form-horizontal">
	<input type="hidden" id="id" name="id" value="<%=data.id%>"> 
	<input type="hidden" id="year" name="year" value="<%=data.year%>"> 
	<input type="hidden" id="date" name="date" value="<%=data.date%>">

	<div class="form-group">
		<label class="col-sm-5 control-label">일자</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.date%></label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">이름</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.name%></br>(<%=data.id%>)
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">신청일자</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.comment_date%></label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">접수내용</label>
		<div class="col-sm-7">
			<label class="control-label"><%=data.comment%></label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">처리내용</label>
		<div class="col-sm-7">
			<textarea class="form-control" rows="5" id="comment_reply" name="comment_reply"
				style="resize: none;"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label">처리내용</label>
		<div class="col-sm-7">
			<select id="state" name="state" class="form-control">
				<option value="접수중" <% if (data.state == '접수중') { %>selected<%}%>>접수중</option>
				<option value="처리중" <% if (data.state == '처리중') { %>selected<%}%>>처리중</option>
				<option value="처리완료" <% if (data.state == '처리완료') { %>selected<%}%>>처리완료</option>
			</select>
		</div>
	</div>
</form>